html, body {
	margin: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(0deg, rgba(154, 154, 154, 0.44), rgba(255, 255, 255, 0.44)), url("../images/pattern.jpg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	font-size: 13px;
	font-family: 'Roboto Condensed', sans-serif;
	min-height: 100vh;
}

a {
	color: #2875e8;
}

.btn-1, .btn-2, .btn-3, .btn-4 {
	background-color: #ffdd2d;
	border-radius: 8px;
	border: 0;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 15px;
	display: inline-block;
	text-decoration: none;
	color: #000;
}

.btn-1:disabled, .btn-2:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

.btn-2 {
	background-color: #67b423;
	color: #fff;
}

.btn-3 {
	background-color: #2f5496;
	color: #fff;
	padding: 5px 20px;
	font-size: 12px;
}


.btn-4 {
	background-color: #df0b0c;
	color: #fff;
	padding: 5px 20px;
	font-size: 12px;
}


.input-text {
	font-family: 'Proxima Nova Rg';
	border: 0;
	border-bottom: 1px solid #d8d8d8;
	font-size: 18px;
	width: 100%;
	padding: 7px 0;
	outline: none;
}

.input-text.small {
	padding: 3px 0;
	font-size: 13px;
}

.select {
	border: 0;
	border-bottom: 1px solid #d8d8d8;
	font-size: 18px;
	width: 100%;
	padding: 7px 0;
	text-align: center;
	outline: none;
}

.textarea {
	width: 97%;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}


.fwb {
	font-weight: bold;
}

.fs19 {
	font-size: 19px;
}

.fs14 {
	font-size: 14px;
}

.f-proxy {
	font-family: 'Proxima Nova Rg', sans-serif;
}


.cp {
	cursor: pointer;
}

.tu {
	text-decoration: underline;
}

.icon {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

.plus {
	background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="iso-8859-1"?><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve"><path style="fill:#23A24D;" d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16v11.059C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z"/></svg>');
}


.text-success {
	color: #67b423;
}

.error {
	color: #ff2220;
}

.current-stp {
	color: #000;
}

.styled-checkbox {
	position: absolute;
	opacity: 0;
}

.styled-checkbox + label {
	position: relative;
	cursor: pointer;
	padding: 0;
}

.styled-checkbox + label:before {
	content: "";
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	width: 18px;
	height: 18px;
	background: #ffdd2d;
	border-radius: 3px;
}

.styled-checkbox:checked + label:after {
	content: "✓";
	position: absolute;
	left: 4px;
	top: 5px;
	color: #000;
	font-size: 13px;
}

.step-1-checkbox {
	max-width: 240px;
	margin: 0 auto;
	font-size: 10px;
	line-height: 10px;
	padding-left: 20px;
}

.step-1-checkbox label {

}

.step-1-checkbox .styled-checkbox + label:before {
	position: absolute;
	margin-right: 0;
	display: block;
	left: -20px;
	top: 3px;
}

.step-1-checkbox .styled-checkbox:checked + label:after {
	left: -15px;
	top: 8px;
}

.main-box {
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	margin: auto;
	width: 90%;
	max-width: 1288px;
}

.main-box h2 {
	margin: 30px 60px;
	font-size: 30px;
	line-height: 33px;
	font-weight: normal;
}

.box-header {
	background-color: #e3e3e3;
	padding: 15px 0;
}

.box-title {
	font-size: 19px;
	line-height: 23px;
	color: #000;
	text-align: center;
	margin: 0;
}

.box-body {
	display: flex;
}

.box-body .col-1 {
	flex: 0 0 410px;
	background-color: #f3f3f3;
}

.box-body .col-1 .btn-1 {
	margin: 20px 0 20px 60px;
}

.plan-list {
	margin: 0 0 0 60px;
	padding: 0;
	list-style: none;
	font-size: 19px;
}

.plan-list li {
	margin: 0 0 10px 0;
	color: #a4a4a4;
	white-space: nowrap;
}

.plan-list a {
	text-decoration: none;
}

.box-step-1 {
	max-width: 460px;
}

.box-step-1 .box-body {
	flex-direction: column;
}

.stp-1-description {
	margin: 10px 0 0 0;
}

.box-step-1 .ogrn {
	margin: 0 auto 10px auto;
	max-width: 150px;
	text-align: center;
}

.box-step-1 .input-text {
	text-align: center;
	padding-top: 0;
}


.box-body .col-2 {
	flex: auto;
	margin: 0 10px 0 60px;
}

.form-2-col {
	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
}

.form-item {
	flex-basis: 48%;
}

.form-item label,
.input-label {
	font-family: 'Proxima Nova Rg';
	font-size: 15px;
	display: block;
	margin-bottom: 5px;
	color: #9e9e9e;
}

/* step 3*/
.row-2-i {
	display: flex;
	justify-content: space-between;
}

.row-2-i div {
	flex-basis: 50%;
}

.row-3-i {
	display: flex;
	justify-content: space-between;
}

.row-3-i .input-position {
	flex-basis: 25%;
}

.row-3-i .input-name {
	flex-basis: 35%;
}

.row-3-i .position-description {
	flex-basis: 35%;
	color: #a4a4a4;
	font-size: 14px;
}

.step-3-col-1 p, .step-3-col-2 {
	line-height: 36px;
	font-size: 18px;
}

.step-3-col-2 .input-text {
	width: 90%;
}


#header {
	display: flex;
	justify-content: center;
}

#header .logo {
	margin: 54px auto auto auto;
}

#footer {
	margin-top: auto;
	text-align: center;
	background-color: #3b3b3b;
	color: #fff;
	font-size: 12px;
	padding: 5px 0;
}

/* табы */
.tab {
	cursor: pointer;
}

.tab.active {
	color: #2f5496;
	font-weight: bold;
	cursor: auto;
}

.tab_content {
	display: none;
}

.country_container {
	padding: 10px 0;
}

.carrier-title {
	font-size: 16px;
	padding: 3px;
	background: #82c7f1;
	margin-top: 5px;
}

.carrier-title.new {
	background: #7ac784;
}
.carrier-title.new-program {
	background: #7bc797;
}


.carrier-title.other {
	background: #98caf1;
}


.carrier-body {
	padding: 15px 0 15px 24px;
	display: none;
	background: #f3f3f3;

}

#position_massive .input-text {
	width: 80%;
}

#base_program_box {
	padding: 10px 0 10px 23px;
	display: none;
}

#base_program_box .input-text {
	width: 50%;
}
#base_program_box .label-2{
	display:inline-block;
	width: 49%;
}
